Repository ajay-dhangar/algo, pull requests merged in 2024-10, with the labels that each got.

#12 major Update for site: Enhance UI/UX Design and Add New Sections
  docusaurus.config.js
  package-lock.json
  package.json
  plugins/my-plugin/index.js
  src/components/Homepage/CallToActionSection.tsx
  src/components/Homepage/ContributeSection.tsx
  src/components/Homepage/FeaturesSection.tsx
  src/components/Homepage/GetInvolvedSection.tsx
  src/components/Homepage/HeroSection.tsx
  src/components/Homepage/HowItWorksSection.tsx
  src/components/Homepage/PopularAlgorithmsSection.tsx
  src/components/Homepage/TechnologiesSection.tsx
  src/components/Homepage/UserTestimonialsSection.tsx
  src/components/Homepage/index.tsx
  src/components/HomepageFeatures/index.js
  src/components/HomepageFeatures/styles.module.css
  src/css/custom.css
  src/pages/index.js
  src/pages/index.module.css
  static/images/docusaurus.svg
  static/images/github.svg
  static/images/jsx.svg
  static/images/node-js.svg
  static/images/tailwindcss.svg
  static/images/tsx.svg
  tailwind.config.js
Labels: enhancement, hacktoberfest-accepted

#15 Setup basic theme for docs and pages
  docs/basics/javascript/ex-1.md
  docs/basics/javascript/ex-2.md
  docs/basics/javascript/ex-3.md
  docs/content.md
  docs/data-structures/arrays/ex-1.md
  docs/data-structures/arrays/ex-2.md
  docs/data-structures/intro.md
  docs/myMarkdownFile.mdx
  docusaurus.config.js
  package-lock.json
  package.json
  src/components/Authors/index.js
  src/components/Authors/style.css
  src/components/DSA/arrays/ArrayVisualizations/index.tsx
  src/components/DSA/arrays/BubbleSortVisualization/BubbleSortVisualization.css
  src/components/DSA/arrays/BubbleSortVisualization/index.tsx
  src/components/DSA/arrays/InsertionSortVisualization/index.tsx
  src/components/DSA/arrays/InsertionSortVisualization/style.css
  src/components/DSA/arrays/SelectionSortVisualization/SelectionSortVisualization.css
  src/components/DSA/arrays/SelectionSortVisualization/index.tsx
  src/theme/Admonition/Layout/index.js
  src/theme/Footer/Copyright/index.js
  src/theme/Footer/Layout/index.js
  src/theme/Footer/LinkItem/index.js
  src/theme/Footer/Links/MultiColumn/index.js
  src/theme/Footer/Links/Simple/index.js
  src/theme/Footer/Links/index.js
  src/theme/Footer/Logo/index.js
  src/theme/Footer/Logo/styles.module.css
  src/theme/Footer/index.js
  src/theme/MDXComponents.js
  src/theme/Root.js
  src/theme/SomeComponent.js
Labels: documentation, enhancement, hacktoberfest-accepted

#14 link-to-explore-algorithms
  src/components/Homepage/HeroSection.tsx
Labels: bug, gssoc-ext, hacktoberfest-accepted, level1

#16 added the shortest path algorithm # 11
  docs/data-structures/shortest_path_algo/shortestpath.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#17 added some docs
  docs/Hash/_category_.json
  docs/Hash/hash.md
  docs/Hash/image-1.png
  docs/Hash/image.png
  docs/Heaps/_category_.json
  docs/Heaps/heaps.md
  docs/Heaps/image.png
  docs/Matrix/_category_.json
  docs/Matrix/image.png
  docs/Matrix/matrix.md
  docs/Matrix/problems-matrix.md
  docs/Queue/_category_.json
  docs/Queue/image.png
  docs/Queue/queue.md
  docs/Trees/Trees.md
  docs/Trees/_category_.json
  docs/Trees/image-1.png
  docs/Trees/image.png
  docs/arrays/2d-arrays.md
  docs/arrays/_category_.json
  docs/arrays/arrays-bubblesort-dsa.md
  docs/arrays/arrays-dsa.md
  docs/arrays/arrays-insertionsort.md
  docs/arrays/arrays-selectionsort.md
  docs/arrays/bucket-sort.md
  docs/arrays/radix-sort.md
  docs/basic-concepts/_category_.json
  docs/basic-concepts/image-1.png
  docs/basic-concepts/image.png
  docs/basic-concepts/space-complexity.md
  docs/basic-concepts/time-complexity.md
  docs/binary_search/Iterative_binary_search.md
  docs/binary_search/_category_.json
  docs/binary_search/binary-search.md
  docs/binary_search/recursive_binary_search.md
  docs/graphs/_category_.json
  docs/graphs/graphs.md
  docs/graphs/image.png
  docs/languages/_category_.json
  docs/languages/javascript/_category_.json
  docs/languages/javascript/ex-1.md
  docs/languages/javascript/ex-2.md
  docs/languages/javascript/ex-3.md
  docs/linkedlist/LinkedList.md
  docs/linkedlist/LinkedListProblems.md
  docs/linkedlist/_category_.json
  docs/recursion/_category_.json
  docs/recursion/recursion.md
  docs/recursion/recursionVsIteration.md
  docs/recursion/recursion_leetcode_questions.md
  docs/stack/_category_.json
  docs/stack/stack-using-array.md
  docs/strings/_category_.json
  docs/strings/leetcode_practice_problems_strings.md
  docs/strings/strings-dsa.md
  docusaurus.config.js
Labels: hacktoberfest-accepted

#19 Added algorithms
  docs/algorithms/Searching algorithms/BinarySearch.md
  docs/algorithms/Searching algorithms/LinearSearch.md
  docs/algorithms/_category_.json
Labels: gssoc-ext, hacktoberfest-accepted, level2

#24 Enhancement-popular-algos-part
  src/components/Homepage/PopularAlgorithmsSection.tsx
Labels: gssoc-ext, hacktoberfest-accepted, level1

#30 added About, and Contact page
  package-lock.json
  package.json
  src/pages/About/index.tsx
  src/pages/Contact/index.tsx
  src/theme/Footer/index.tsx
  static/images/mission.jpg
  static/images/team-member-1.jpg
  static/images/team-member-2.jpg
  static/images/team-member-3.jpg
  static/images/team-member-4.jpg
  static/images/team-member-5.jpg
Labels: hacktoberfest-accepted

#29 Updated the "Contribute to Github" & "Explore Algorithms" buttons
  src/components/Homepage/ContributeSection.tsx
  src/components/Homepage/HeroSection.tsx
Labels: gssoc-ext, hacktoberfest-accepted, level1

#35 Update README.md for added topic link in Readme.md file
  README.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#36 Updated PopularAlgorithms Section
  src/components/Homepage/PopularAlgorithmsSection.tsx
Labels: documentation, gssoc-ext, hacktoberfest-accepted, level2

#37 shortest path algorithms and practice problems for various algorithms in graphs
  docs/Dynamic Programming/Practice Problems - Different Patterns.md
  docs/Dynamic Programming/_category_.json
  docs/Dynamic Programming/approaches.md
  docs/Dynamic Programming/how_to_identify.md
  docs/graphs/Practice Problems.md
  docs/graphs/Shortest Path Algorithms/BellManFord Algorithm.md
  docs/graphs/Shortest Path Algorithms/Dijkstra Algorithm.md
  docs/graphs/Shortest Path Algorithms/Floyd Warshall Algorithm.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#38 adding link-list page #34
  docs/data-structures/link-list/link-list.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#43 Added sorting and recursive algorithms
  docs/algorithms/Recursive Algorithms/DirectRecursion.md
  docs/algorithms/Recursive Algorithms/IndirectRecursion.md
  docs/algorithms/Sorting Algorithms/BubbleSort.md
  docs/algorithms/Sorting Algorithms/InsertionSort.md
  docs/algorithms/Sorting Algorithms/MergeSort.md
  docs/algorithms/Sorting Algorithms/QuickSort.md
  docs/algorithms/Sorting Algorithms/SelectionSort.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#47 Added priority and circular queue docs
  docs/Queue/Circular-queue.png
  docs/Queue/CircularQueue.md
  docs/Queue/Priority-queue.png
  docs/Queue/PriorityQueue.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#49 Added Stack and IntroductionToStack.md file
  docs/Stack/IntroductionToStack.md
  docs/Stack/Introduction_to_Stack.png
Labels: documentation, gssoc-ext, hacktoberfest-accepted, level2

#55 Add Documentation: Algorithm Optimization Techniquesscroll to up butt…
  docs/basic-dsa/array/2d-arrays.md
  docs/dynamic-programming/Dynamic_Programming_Optimizations.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#65 Dev 1
  blog/2019-05-28-first-blog-post.md
  blog/2019-05-29-long-blog-post.md
  blog/2021-08-01-mdx-blog-post.mdx
  blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  blog/2021-08-26-welcome/index.md
  blog/authors.yml
  blog/understanding-time-space-complexity.md
  docusaurus.config.js
  renovate.json
Labels: hacktoberfest-accepted

#67 Blog setup is Done
  docusaurus.config.js
  package-lock.json
  package.json
  src/components/Homepage/ContributeSection.tsx
  src/components/Homepage/GetInvolvedSection.tsx
  src/components/Homepage/HeroSection.tsx
  src/components/Homepage/HowItWorksSection.tsx
  src/components/Homepage/PopularAlgorithmsSection.tsx
  src/components/Homepage/TechnologiesSection.tsx
  src/components/Homepage/index.tsx
  src/theme/Footer/index.tsx
Labels: hacktoberfest-accepted

#62 Updated Twitter icon
  src/theme/Footer/index.tsx
Labels: gssoc-ext, hacktoberfest-accepted, level1

#73 added algorithms related to graphs
  docs/graphs/Graph connectivity Algorithms/Kosaraju's Algorithm.md
  docs/graphs/Graph connectivity Algorithms/Tarjan’s Algorithm.md
  docs/graphs/Graphs.md
  docs/graphs/Minimum Spanning Tree Algorithms/Kruskal's Algorithm.md
  docs/graphs/Minimum Spanning Tree Algorithms/Prim's Algorithm.md
  docs/graphs/Shortest Path Algorithms/A(star) algorithm.md
  docs/graphs/Topological Sorting Algorithms/Depth-First Search Based Topological Sort.md
  docs/graphs/Topological Sorting Algorithms/Kahn's Algorithm.md
  docs/graphs/Traversals/Breadth First Search.md
  docs/graphs/Traversals/Depth First Search.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#75 Revert "added algorithms related to graphs"
  docs/graphs/Graph connectivity Algorithms/Kosaraju's Algorithm.md
  docs/graphs/Graph connectivity Algorithms/Tarjan’s Algorithm.md
  docs/graphs/Graphs.md
  docs/graphs/Minimum Spanning Tree Algorithms/Kruskal's Algorithm.md
  docs/graphs/Minimum Spanning Tree Algorithms/Prim's Algorithm.md
  docs/graphs/Shortest Path Algorithms/A(star) algorithm.md
  docs/graphs/Topological Sorting Algorithms/Depth-First Search Based Topological Sort.md
  docs/graphs/Topological Sorting Algorithms/Kahn's Algorithm.md
  docs/graphs/Traversals/Breadth First Search.md
  docs/graphs/Traversals/Depth First Search.md
Labels: hacktoberfest-accepted

#72 Added Graph algorithms
  docs/graphs/graph_algorithms.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#81 Dev 1
  docs/graphs/graph-algorithms.md
Labels: hacktoberfest-accepted

#82 Solved error
  docs/graphs/graph-algorithms.md
  docs/graphs/practice-problems.md
Labels: hacktoberfest-accepted

#90 Basic Operations on Binary trees
  docs/Binary Trees/Basic_operations.md
  docs/Binary Trees/binary-tree.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#83 Added Practice-Problems for Queue and fixed incorrect description issue
  docs/Queue/Problem-Practice.md
  docs/Queue/_category_.json
Labels: gssoc-ext, hacktoberfest-accepted, level2

#96 Introduction to LinkedLists
  docs/LinkedList/IntroductionToLinkedList.md
  docs/LinkedList/LinkedList.png
Labels: gssoc-ext, hacktoberfest-accepted, level2

#97 Card Styling Updated issue no #54 Resolved
  src/components/Homepage/GetInvolvedSection.tsx
  src/components/Homepage/PopularAlgorithmsSection.tsx
Labels: gssoc-ext, hacktoberfest-accepted, level1

#94 added heap sort
  docs/algorithms/Sorting Algorithms/HeapSort.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#101 Added link to "Explore Algorithm" button on the homepage
  src/components/Homepage/HeroSection.tsx
Labels: gssoc-ext, hacktoberfest-accepted, level2

#99 Create Problem-Practice.md
  docs/Stack/Problem-Practice.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#102 [Documentation]: Add Contributors list action workflow
  .github/workflows/add-contributor.yml
  README.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#103 Types of Linked List
  docs/LinkedList/CircularDoubly.png
  docs/LinkedList/CircularDoublyLinkedList.md
  docs/LinkedList/CircularLinkedList.md
  docs/LinkedList/CircularLinkedList.png
  docs/LinkedList/DoublyLL.png
  docs/LinkedList/DoublyLinkedList.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#104 Added double ended queue and few advance sort algorithms
  docs/Queue/DoubleEndedQueue.md
  docs/Queue/doubleendedqueue.png
  docs/algorithms/Sorting Algorithms/BucketSort.md
  docs/algorithms/Sorting Algorithms/CombSort.md
  docs/algorithms/Sorting Algorithms/CountingSort.md
  docs/algorithms/Sorting Algorithms/CycleSort.md
  docs/algorithms/Sorting Algorithms/RadixSort.md
  docs/algorithms/Sorting Algorithms/ShellSort.md
  docs/algorithms/Sorting Algorithms/TimSort.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#108 Practice Problems on Stack added
  docs/Stack/Problem-Practice.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#116 Add Blog on Recursion - Mastering Recursion: Concepts, Problems, and Optimization
  README.md
  blog/authors.yml
  blog/mastering-recursion.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#118 Addition of Backtracking | Issue #111
  docs/backtracking-algorithms/_category_.json
  docs/backtracking-algorithms/imp-of-backtracking.md
  docs/backtracking-algorithms/what-is-backtracking.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#128 Addition of Sliding Window and Two Pointer Patterns and Related Problems
  docs/Sliding-Window/IntroductionToSlidingWindow.jpg
  docs/Sliding-Window/IntroductionToSlidingWindow.md
  docs/Sliding-Window/Problem-Practice.md
  docs/Two-Pointers/IntroductionToTwoPointers.md
  docs/Two-Pointers/IntroductionToTwoPointers.png
  docs/Two-Pointers/Problem-Practice.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#120 [Feature Request] : Adding Kadane's Algorithm for Maximum Subarray Sum in an Array | isuue no. #115
  docs/basic-dsa/array/arrays-kadanesalgorithm-dsa.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#126 Addition of BackToTop Button | Issue #112
  src/components/Scroller/BottomToTop/BottomToTop.tsx
  src/components/Scroller/TopToBottom/TopToBottom.tsx
  src/css/BottomToTop.module.css
  src/css/TopToBottom.module.css
  src/pages/index.js
Labels: gssoc-ext, hacktoberfest-accepted, level2

#135 Introduction to Linked Lists
  docs/Linked List/Linked List.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#138 Addition of Mathematical Algorithms | Issue #121
  docs/mathematics-algorithms/_category_.json
  docs/mathematics-algorithms/imp-of-backtracking.md
  docs/mathematics-algorithms/what-is-backtracking.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#130 Addition of "Two City Scheduling" 3D Dynamic Programming Question
  docs/dynamic-programming/Two-City-Scheduling-3D-DP.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#141 Added Heap data structure : issue #139
  docs/heap/heap-operations.md
  docs/heap/heapBasics.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#146 added few pages
  docs/algorithms/recursive-algorithms/DirectRecursion.md
  docs/algorithms/recursive-algorithms/IndirectRecursion.md
  docs/algorithms/recursive-algorithms/_category_.json
  docs/algorithms/sorting-algorithms/BubbleSort.md
  docs/algorithms/sorting-algorithms/BucketSort.md
  docs/algorithms/sorting-algorithms/CombSort.md
  docs/algorithms/sorting-algorithms/CountingSort.md
  docs/algorithms/sorting-algorithms/CycleSort.md
  docs/algorithms/sorting-algorithms/HeapSort.md
  docs/algorithms/sorting-algorithms/InsertionSort.md
  docs/algorithms/sorting-algorithms/MergeSort.md
  docs/algorithms/sorting-algorithms/QuickSort.md
  docs/algorithms/sorting-algorithms/RadixSort.md
  docs/algorithms/sorting-algorithms/SelectionSort.md
  docs/algorithms/sorting-algorithms/ShellSort.md
  docs/algorithms/sorting-algorithms/TimSort.md
  docs/algorithms/sorting-algorithms/_category_.json
  src/pages/Blogs/index.tsx
  src/pages/Challenges/index.tsx
  src/pages/Community/index.tsx
  src/pages/Leaderboard/index.tsx
  src/pages/License.md
  src/pages/Practice/index.tsx
  src/pages/Resources/index.tsx
  src/pages/Roadmap/index.tsx
  src/pages/faq/index.tsx
Labels: hacktoberfest-accepted

#145 added greedy algorithms(issue #140)
  docs/greedy-algorithms/greedy-example.md
  docs/greedy-algorithms/greedy-theory.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#147 added some links of pages
  docusaurus.config.js
  package-lock.json
  package.json
  src/pages/Blogs/index.tsx
  src/pages/Challenges/index.tsx
  src/pages/Community/index.tsx
  src/pages/Practice/index.tsx
  src/pages/Resources/index.tsx
Labels: hacktoberfest-accepted

#142 Implementing Python Datatypes
  docs/languages/python/py-1.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#132 Added recursion documentation with examples : Issue no #113
  docs/Recursion/N Queen 2.png
  docs/Recursion/N Queen.md
  docs/Recursion/N Qween 1.png
  docs/Recursion/Rate in the maze.md
  docs/Recursion/Sodoko.md
  docs/Recursion/recursion.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#153 Variables in Python
  docs/languages/py-2.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#152 Adding The Article On Binary Search Questions
  docs/binary-search/binary_search_questions.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#162 Binary Search Tree
  docs/Binary Search Tree/Binary search tree.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#163 Update README.md
  README.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#165 Addition of Memoisation | Issue #133
  docs/mathematics-algorithms/imp-of-mathematics.md
  docs/mathematics-algorithms/what-is-mathematical-algorithms.md
  docs/memoisation-algorithms/_category_.json
  docs/memoisation-algorithms/imp-of-memoisation.md
  docs/memoisation-algorithms/what-is-memoisation.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#169 bit manipulation
  docs/Bit Manipulation/bit-manipulation-technique.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#171 Remove duplicate menu for linked list
  docs/Linked List/Linked List.md
  docs/LinkedList/CircularDoublyLinkedList.md
  docs/LinkedList/CircularLinkedList.md
  docs/LinkedList/DoublyLinkedList.md
  docs/LinkedList/IntroductionToLinkedList.md
  docs/LinkedList/_category_.json
Labels: gssoc-ext, hacktoberfest-accepted, level2

#172 Addition of TwoPointers | Issue #134
  docs/Two-Pointers/IntroductionToTwoPointers.md
  docs/Two-Pointers/Problem-Practice.md
  docs/Two-Pointers/_category_.json
  docs/Two-Pointers/imp-of-two-pointers.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#180 Resolved Page not found
  docs/Sliding-Window/Problem-Practice.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#155 issue #143 solved✨
  docs/combinatorics/combinatorics-examples.md
  docs/combinatorics/combinatorics-theory.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#182 Added Floyds Cycle Detection in Linked List #160
  docs/LinkedList/FloydsCycleDetection.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#175 Enhancement of Scrollbar | Issue #166
  src/css/custom.css
Labels: gssoc-ext, hacktoberfest-accepted, level1

#157 ADD fermat's-Little-theorem in mathematics for multiplicative modulo …
  docs/mathematics-algorithms/fermat-little-theorem.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#181 Add implementation of Longest Common Subsequence (LCS) algorithm in Python
  docs/dynamic-programming/longest_common_subsequence.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#168 added BogoSort in sorting algorithms and changed mistakes in heap sort
  docs/algorithms/sorting-algorithms/BogoSort.md
  docs/algorithms/sorting-algorithms/HeapSort.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#186 Added Fractional Knapsack
  docs/greedy-algorithms/fractional-knapsack.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#194 Addition of Leetcode Solutions 1-10 | Issue #173
  docs/leetcode Solutions/_category_.json
  docs/leetcode Solutions/leetocde-solutions-1-to-10.md
  docs/memoisation-algorithms/imp-of-memoisation.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#219 [FIX] FAQ dropdown mode added
  src/pages/faq/index.tsx
Labels: gssoc-ext, hacktoberfest-accepted, level2

#241 Exponential search using binary search
  docs/binary-search/Exponential-Search.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#204 Added Bitonic Sort
  docs/algorithms/sorting-algorithms/BitonicSort.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#257 Added kosaraju algorithm to graphs
  docs/graphs/kosaraju-algorithm.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#191 Added Prims Algorithm under graphs
  docs/graphs/Prims-Algorithm.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#294 Update index.tsx
  src/pages/Practice/index.tsx
Labels: gssoc-ext, hacktoberfest-accepted, level2

#232 loops&decisionmaking
  docs/languages/javascript/ex-4.md
  docs/languages/javascript/ex-5.md
  docs/languages/python/py-3.md
  docs/languages/python/py-4.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#296 Added Searching Algorithms
  docs/algorithms/Searching Algorithms/BinarySearch.md
  docs/algorithms/Searching Algorithms/ComparisonSearch.md
  docs/algorithms/Searching Algorithms/DigitalSearch.md
  docs/algorithms/Searching Algorithms/HashingSearch.md
  docs/algorithms/Searching Algorithms/LinearSearch.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#188 Addition of Hashing | Issue #174
  docs/Hashing/_category_.json
  docs/Hashing/imp-of-hashing.md
  docs/Hashing/what-is-hashing.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#279 Added Beautiful Subgrids
  docs/dynamic-programming/Beautiful-Subgrids.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#306 Add Monotonic Stack Concept
  docs/Stack/MonotonicStack.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#332 Added sets and dictionaries
  docs/languages/python/py-5.md
  docs/languages/python/py-6.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#351 added DFS in Graph fixes #211
  docs/graphs/Depth-First-Search.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#353 Kahn algo
  docs/bit-manipulation/brain-kernighan-algo.md
  docs/graphs/flood-fill.md
  docs/graphs/kahn-algo.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#355 📄 Added C++ Language
  docs/languages/cpp/_category_.json
  docs/languages/cpp/cp-1.md
  docs/languages/cpp/cp-2.md
  docs/languages/cpp/cp-3.md
  docs/languages/cpp/cp-4.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#359 Footer UI is changed
  src/theme/Footer/index.tsx
Labels: gssoc-ext, hacktoberfest-accepted, level1

#360 Addition of 11-20 | Issue #196
  docs/leetcode Solutions/leetocde-solutions-1-10.md
  docs/leetcode Solutions/leetocde-solutions-11-20.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#368 Added classes in python
  docs/languages/python/py-8.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#338 Added Merkle Tree
  docs/Trees/merkle-tree.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#339 Tries and its Implementation
  docs/Tries/Tries and its Implementation.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#348 added stooge sort
  docs/algorithms/sorting-algorithms/StoogeSort.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#363 Addition of Config Files and Sidebar Titles Enhancement with Folder Structuring | Issue #263
  docs/Recursion/Sodoko.md
  docs/Recursion/_category_.json
  docs/Recursion/n-queen.md
  docs/Recursion/rate-in-the-maze.md
  docs/Recursion/recursion.md
  docs/Sliding-Window/Problem-Practice.md
  docs/Sliding-Window/_category_.json
  docs/Sliding-Window/introduction-to-sliding-window.md
  docs/Stack/Problem-Practice.md
  docs/Stack/_category_.json
  docs/Stack/introduction-to-stack.md
  docs/binary-search-tree/Binary search tree.md
  docs/binary-search-tree/_category_.json
  docs/binary-search/Exponential-Search.md
  docs/binary-search/Iterative_binary_search.md
  docs/binary-search/_category_.json
  docs/binary-search/binary-search-matrix.md
  docs/binary-search/binary-search.md
  docs/binary-search/binary_search_questions.md
  docs/binary-search/recursive_binary_search.md
  docs/binary-trees/_category_.json
  docs/binary-trees/basic-operations.md
  docs/binary-trees/binary-tree.md
  docs/bit-manipulation/_category_.json
  docs/combinatorics/_category_.json
  docs/combinatorics/combinatorics-examples.md
  docs/combinatorics/combinatorics-theory.md
  docs/greedy-algorithms/_category_.json
  docs/greedy-algorithms/greedy-example.md
  docs/greedy-algorithms/greedy-theory.md
  docs/heap/_category_.json
  docs/heap/heap-basics.md
  docs/heap/heap-operations.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#344 Added Josephus Problem
  docs/Recursion/josephus.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#380 Added Huffman Coding Algorithm
  docs/greedy-algorithms/Huffman-coding.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#381 [Feature Addition] : added TernarySearch, ExponentialSearch, JumpSearch
  docs/algorithms/Searching Algorithms/ExponentialSerach.md
  docs/algorithms/Searching Algorithms/JumpSearch.md
  docs/algorithms/Searching Algorithms/TernarySearch.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#271 Added Algo for Dutch flag Algorithm
  docs/algorithms/sorting-algorithms/Dutch-flag-algo.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#319 Create pointer
  docs/basic-dsa/pointer.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#321 Create Operator Overloading
  docs/basic-dsa/Operator Overloading.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#337 Avl Tree
  docs/binary-search-tree/AVL Tree.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#367 Added Operators in python
  docs/languages/python/py-7.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#361 Added Towers of Hanoi in Recursion
  docs/Recursion/TowersOfHanoi.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#369 Added three algo to recursion
  docs/Recursion/Count-all-subsequences-with-sum-K.md
  docs/Recursion/Letter-Combinations-of-a-Phone-number.md
  docs/Recursion/generate-parantheses.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#394 added Different Approaches in Linked List
  docs/linked-list/linked-list-approaches.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#395 Added bit manipulation practice problems
  docs/bit-manipulation/bitmanipulation-practice-problem.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#401 Fixed the C++ Pages formatting
  docs/languages/cpp/cp-1.md
  docs/languages/cpp/cp-2.md
  docs/languages/cpp/cp-3.md
  docs/languages/cpp/cp-4.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#411 Added Kth Largest and Smallest Elements in a Heap
  docs/heap/kth-largest.md
  docs/heap/kth-smallest.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#415 solved #403 added quizes on data structures to the website
  docusaurus.config.js
  src/pages/Quizes/index.tsx
Labels: gssoc-ext, hacktoberfest-accepted, level1

#419 Created tarjan's algorithm in graphs
  docs/graphs/tarjans-algo.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#418 added tabs in leetcode solutions for different languages
  docs/leetcode Solutions/leetocde-solutions-1-10.md
  docs/leetcode Solutions/leetocde-solutions-11-20.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#416 Added Topological Sorting Algorithm
  docs/algorithms/sorting-algorithms/Topological-sorting-algorithm.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#414 Added First Come First Serve, Round Robin and Shortest Job First Scheduling Algorithms
  docs/algorithms/Scheduling Algorithms/FirstComeFirstServed.md
  docs/algorithms/Scheduling Algorithms/RoundRobin.md
  docs/algorithms/Scheduling Algorithms/ShortestJobRemainingFirst.md
  docs/algorithms/Scheduling Algorithms/_category_.json
Labels: gssoc-ext, hacktoberfest-accepted, level1

#413 Added new concept in languages- Javascript
  docs/languages/javascript/ex-6.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#402 #377 [Solved]:- Added FibbonaciSearch.md
  docs/algorithms/Searching Algorithms/FibbonaciSearch.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#327 Create TreeSort.md
  docs/algorithms/sorting-algorithms/TreeSort.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#429 Pigeonhole Sort
  docs/algorithms/sorting-algorithms/Pigeonhole.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#428 Added Inbuilt Priority Queue in C++
  docs/Queue/priority-queue.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#427 Added new algoritm in string
  docs/basic-dsa/Strings/kmp-algo.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#426 Add maximum and Minimum depth of a Binary Tree
  docs/binary-trees/maximum-depth.md
  docs/binary-trees/minimum-depth.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#424 Added Pancake Algorithm
  docs/algorithms/sorting-algorithms/Pancake-sorting-algorithm.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#356 Added Kadane's Algorithm
  docs/Kadane's Algorithm/_category_.json
  docs/basic-dsa/array/Kadane-Algorithm.md
  docs/linked-list/Hare-Tortoise.md
Labels: gssoc-ext, level1

#385 Added prims-mst
  docs/greedy-algorithms/Prim’s-Minimum-Spanning-Tree.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#390 look and say recursion algorithm integrated
  docs/Recursion/look-and-say.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#388 All "Learn more" buttons below algorithm are updated now (Revised)
  src/components/Homepage/PopularAlgorithmsSection.tsx
Labels: gssoc-ext, hacktoberfest-accepted, level1

#386 Added Floyd and warshall algorithms' code
  docs/graphs/Floyd's_algorithm.md
  docs/graphs/Warshall's-algo.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#406 Added PageRank Algorithm #392
  docs/graphs/Page-Rank-Algorithm.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#399 Added moore's voting algorithm
  docs/Kadane-Algo/kadane-algo.md
  docs/MooreVotingAlgo/moore-voting-algo.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#347 Linked list problems
  docs/Stack/Problem-Practice.md
  docs/linked-list/Practice-Problems.md
Labels: gssoc-ext, level1

#320 Create tries
  docs/tries.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#440 solved #431 #433 Added quiz on arrays,stack and results
  src/pages/Quizes/arrays.tsx
  src/pages/Quizes/index.tsx
  src/pages/Quizes/stack.tsx
  src/pages/quizes/quizes.css
Labels: gssoc-ext, hacktoberfest-accepted, level3

#443 Added Container With Most Water Solution
  docs/leetcode-Solutions/_category_.json
  docs/leetcode-Solutions/container-with-most-water.md
  docs/leetcode-Solutions/leetcode-arrays-solution.md
  docs/leetcode-Solutions/leetocde-solutions-1-10.md
  docs/leetcode-Solutions/leetocde-solutions-11-20.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#459 issue #282 solved tried added✨
  docs/Tries/tries-examples.md
  docs/Tries/tries-theory.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#487 Added Gnome, Cocktail Shaker & Odd Even Sorting Algo
  docs/algorithms/sorting-algorithms/CocktailShakerSort.md
  docs/algorithms/sorting-algorithms/GnomeSort.md
  docs/algorithms/sorting-algorithms/Odd-Even-Sort.md
Labels: gssoc-ext, hacktoberfest-accepted, level2

#483 added game theory (issue #336 solved)
  docs/game-Theory/gameTheory.md
  docs/game-Theory/gameTheoryExamples.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#465 Added default dict and counters usage in python
  docs/languages/python/py-10.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#333 Added counting-sort.md file
  docs/basic-dsa/array/counting-sort.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#438 Added algorithm for Doubly Linked List in C
  docs/linked-list/Doubly-linked-list-C.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#455 Added few greedy algorithm implementations, commonly asked questions with their applications and practice problems
  docs/greedy-algorithms/Problem-Practice.md
  docs/greedy-algorithms/activity-selection.md
  docs/greedy-algorithms/commonly-asked-greedy-questions.md
  docs/greedy-algorithms/job-sequencing.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#491 Issue: #489 Solved :- Created InterpolationSearch.md
  docs/algorithms/Searching Algorithms/InterpolationSearch.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#441 Added hamilton cycle and M coloring problems in the backtracking folder(#239 issue)(#425 PR)
  docs/backtracking-algorithms/hamilton-path-cyle.md
  docs/backtracking-algorithms/m-coloring.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#452 Added BST search insert and delete
  docs/binary-search-tree/delete-BST.md
  docs/binary-search-tree/insert-BST.md
  docs/binary-search-tree/search-BST.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#445 added InterpolationSearch
  docs/algorithms/Searching Algorithms/InterpolationSearch.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#473 solved #434 Added queue quiz and shown result
  src/pages/Quizes/index.tsx
  src/pages/Quizes/queue.tsx
Labels: gssoc-ext, hacktoberfest-accepted, level1

#508 Added Product of Array Except Self DSA Problem Solution
  docs/basic-dsa/array/ProudctOfArrayExceptSelf.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#457 Added A* algorithm
  docs/graphs/shortest-path-algorithms/A-star-algorithm.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#474 Added Determine if Two Strings Are Close Solution
  docs/leetcode-Solutions/determine-if-two-strings-are-close.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#490 aded odd even sort
  docs/algorithms/sorting-algorithms/StrandSort.md
  docs/algorithms/sorting-algorithms/odd-even-sorting.md
  src/components/DSA/arrays/ShellSortVisualisation/Shellsort.css
  src/components/DSA/arrays/ShellSortVisualisation/index.tsx
Labels: gssoc-ext, hacktoberfest-accepted, level1

#521 [Feature Request] Addition of Arrays concept in Javascript language section
  docs/languages/javascript/ex-7.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#520 Create auto-comment-issue.yml
  .github/workflows/auto-comment-issue.yml
  README.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#514 Added DFS & BFS Algo
  docs/algorithms/Searching Algorithms/Breadth-First-Search-(BFS)-Algo.md
  docs/algorithms/Searching Algorithms/Depth-First-Search-(DFS)-Algo.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#498 Added Inorder predecessor and successor in a BST
  docs/binary-search-tree/inorder-predecessor-BST.md
  docs/binary-search-tree/inorder-successor-BST.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#494 Inserting PriorityScheduling.md Algorithm.
  docs/algorithms/Scheduling Algorithms/PriorityScheduling.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#464 Strings in Python Language section
  docs/languages/python/py-9.md
Labels: gssoc-ext, hacktoberfest-accepted, level1

#458 Added jump sort algorithm
  docs/algorithms/sorting-algorithms/JumpSort.md
Labels: gssoc-ext, hacktoberfest-accepted, level1
