Repository ajay-dhangar/algo, pull requests merged in 2024-11, with the labels that each got.

#1529 Add Documentation for Cloning a Linked List with Random and Next Pointers
  docs/DSA-Problem-Solution/Clone Linked List with Random and Next Pointer.md
  docs/DSA-Problem-Solution/flattening-a-linked-list.md
Labels: gssoc-ext, level1

#1527 Hbos
  README.md
  docs/machine-learning/HBOS.md
Labels: gssoc-ext, level1

#1559 Function in c#
  docs/languages/csharp/csharp-3.md
Labels: gssoc-ext, level1

#1561 Loops in c#
  docs/languages/csharp/csharp-4.md
Labels: gssoc-ext, level1

#1563 Array in C#
  docs/languages/csharp/csharp-5.md
Labels: gssoc-ext, level1

#1565 Objects in C#
  docs/languages/csharp/csharp-6.md
Labels: gssoc-ext, level1

#1569 Design Circular Queue
  docs/Queue/design-circular-Queue.md
Labels: gssoc-ext, level1

#1568 Classes in C#
  docs/languages/csharp/csharp-7.md
Labels: gssoc-ext, level1

#1573 Added the algorithm for Strassen's-Matrix-Mutiplication
  docs/Divide and Conquer/Strassen's-Matrix-Mutiplication.md
Labels: gssoc-ext, level1

#1570 Added the algorithm for graph reversal
  docs/graphs/graph-reversal.md
Labels: gssoc-ext, level1

#1597 added functors in the STL for C++ section
  docs/languages/cpp/cp-13.md
Labels: gssoc-ext, level1

#1575 add fibonacci sequence using recursion
  docs/Recursion/fibonacci.md
Labels: gssoc-ext, level1

#1612 Add Beam Search algorithm documentation
  docs/machine-learning/BeamSearch.md
Labels: gssoc-ext, level1

#1603 add sql like operator
  docs/languages/SQL/sql-19.md
Labels: gssoc-ext, level1

#1608 add array list
  java/array-list.md
Labels: gssoc-ext, level1

#1619 Inheritance in C#
  docs/languages/csharp/csharp-8.md
Labels: gssoc-ext, level1

#1640 added supervised learning algo
  docs/machine-learning/supervised_learning_algo.md
Labels: gssoc-ext, level1

#1637 Update B-Tree-2.md
  docs/b-tree/B-Tree-2.md
Labels: gssoc-ext, level1

#1621 Interfaces in C#
  docs/languages/csharp/csharp-9.md
Labels: gssoc-ext, level1

#1642 Count inversions in an array
  src/data/problemData.ts
Labels: gssoc-ext, level1

#1667 [Feature]: add highest letter frequency algo in JavaScript #1162
  docs/basic-dsa/Strings/Highest freqyuency letter.md
Labels: gssoc-ext, level1

#1665 [Feature]: add JavaScript solution for Hashing #1164
  docs/Hashing/CollisionHandling.md
  docs/Hashing/OperationSearch.md
  docs/Hashing/OperationUpdate.md
  docs/Hashing/deletion-in-hash-table.md
  docs/Hashing/hashsets.md
  docs/Hashing/what-is-hashing.md
Labels: gssoc-ext, level1

#1674 Challenge 4 added in challenges solution section.
  docs/challenges solutions/Challenge4.md
Labels: gssoc-ext, level1

#1675 Added Few Search Algorithms
  docs/algorithms/Searching Algorithms/A*-Search.md
  docs/algorithms/Searching Algorithms/AO*-Search.md
  docs/algorithms/Searching Algorithms/Boyer-Moore-Search.md
  docs/algorithms/Searching Algorithms/Sublist-Search.md
  docs/algorithms/Searching Algorithms/Uniform-Cost-Search.md
Labels: gssoc-ext, level1

#1666 [Feature]: add JavaScript solution for Knuth-Morris-Pratt #1161
  docs/algorithms/string-algorithm/kmp-algorithm.md
Labels: gssoc-ext, level1

#1664 [Feature]: add isomorphic string in JavaScript #1163
  docs/basic-dsa/Strings/Isomorphic strings.md
Labels: gssoc-ext, level1

#1661 Added to java section
  java/Prime_number_checker.md
  java/Simple-Calculator.md
Labels: gssoc-ext, level1

#1655 fix: 🐛 Fixed the Challenges Quiz not showing
  src/pages/challenges/challenge1.tsx
  src/pages/challenges/challenge2.tsx
  src/pages/challenges/challenge3.tsx
Labels: gssoc-ext, level1

#1644 Perform a search in a nearly sorted array to Top DSA interview questions
  src/data/problemData.ts
Labels: gssoc-ext, level1

#1635 Added Character Replacement Problem
  docs/Sliding-Window/character-replacement.md
Labels: gssoc-ext, level1

#1624 #1623 Inheritance in Java
  java/inheritance.md
Labels: gssoc-ext, level1

#1610 Create isPowerOfTwo.md
  java/isPowerOfTwo.md
Labels: gssoc-ext, level1

#1576 Added the algorithm for Graph Cloning.
  docs/graphs/graph-cloning.md
Labels: gssoc-ext, level1

#1587 Added Jump Search Algorithm
  docs/Jump Search/Jump Search.md
Labels: gssoc-ext, level1

#1684 Create AVL Tree.md
  docs/Trees/AVL Tree.md
Labels: gssoc-ext, level1

#1679 Add two files in Fundamentals
  docs/fundamentals/Conditional Statement.md
  docs/fundamentals/Loops.md
Labels: gssoc-ext, level1

#1690 Ada boost
  docs/machine-learning/AdaBoost.md
Labels: gssoc-ext, level1

#1691 K means
  docs/machine-learning/K-Means_clustering.md
Labels: gssoc-ext, level1

#1699 Smwak Algorithm
  docs/Recursion/SmawkAlgorithm.md
Labels: gssoc-ext, level1

#1696 KMP Algorithm example added
  README.md
  docs/algorithms/string-algorithms/kmp-algorithm.md
Labels: gssoc-ext, level1

#1697 Added the Optimised approach of Optimizing Disaster Relief Supply Packing
  docs/knapsack-disaster-relief/knapsack-disaster-relief.md
Labels: gssoc-ext, level1

#1712 Added unwinding in recursion
  docs/Recursion/Unwinding_in_recursion.md
Labels: gssoc-ext, level1

#1716 ✅ fix: 🐛 Two-stack Queue completed
  docs/Queue/Two-Stack-Queue.md
Labels: gssoc-ext, level1

#1717 added unsupervised learning algorithm
  docs/machine-learning/unsupervised_learning_algo.md
Labels: gssoc-ext, level1

#1721 Added docs for Euclidean Algorithm
  docs/algorithms/mathematics-algorithms/euclidean-algorithm.md
Labels: gssoc-ext, level1

#1713 Create Dijkstra’s Algorithm.md
  docs/algorithms/Dijkstra’s Algorithm.md
Labels: gssoc-ext, level1

#1735 Added to java section
  java/Armstrong-Number-Checker.md
  java/LCM-GCD-Calculator.md
Labels: gssoc-ext, level1

#1606 parity partition sort
  docs/algorithms/sorting-algorithms/parity-partition-sort.md
Labels: gssoc-ext, level1

#1249 Add DSA Array Questions (Easy, Medium, Hard)
  java/Arrays/1.Easy/Find missing number.md
  java/Arrays/1.Easy/Remove Duplicates from Sorted Array.md
  java/Arrays/2.Medium/Kadane's Algorithm.md
  java/Arrays/2.Medium/Longest Subarray with sum K.md
  java/Arrays/3.Hard/Maximum Product Subarray.md
  java/Arrays/3.Hard/Reverse pairs.md
Labels: gssoc-ext, level1

#1689 added pca visualisations
  docs/machine-learning/PC_Visualizations.md
Labels: gssoc-ext, level1

#1725 Added clear-ith-bit.md
  docs/bit-manipulation/clear-ith-Bit.md
Labels: gssoc-ext, level1

#1749 Added Reverse a Stack algorithm
  docs/Stack/Reverse-Stack.md
Labels: gssoc-ext, level1

#1750 Added Balanced Paranthesis
  docs/Stack/Balanced-Parenthesis.md
Labels: gssoc-ext, level1

#1751 Added stock-span-prob
  docs/Stack/Stock-span.md
Labels: gssoc-ext, level1

#1755 added python code for stack permutation
  docs/Stack/Stack-permutation.md
Labels: gssoc-ext, level1

#1344 Create program.c
  docs/backtracking algorithms/N-QueensProblem.md
Labels: gssoc-ext, level1

#1756 Added the algorithm for String Reversal using Stack.
  docs/Stack/String_Reversal.md
Labels: gssoc-ext, level1

#1694 BooleanExpressionParser
  src/components/DSA/DP/Parsing A Boolean Expression.md
Labels: gssoc-ext, level1

#1757 Find All Anagrams in a String to Top DSA interview questions
  src/data/problemData.ts
Labels: gssoc-ext, level1

#1758 Create ant-colony-optimization-tsp.md
  docs/graphs/ant-colony-optimization-tsp.md
Labels: gssoc-ext, level1

#1762 Added the algorithm for Polynomial Addition using linkedlist.
  docs/linked-list/Polynomial-Addition.md
Labels: gssoc-ext, level1

#1763 Sliding Window Maximum #1719
  docs/DSA-Problem-Solution/Merge_K_Sorted_Arrays.md
  docs/DSA-Problem-Solution/Sliding Window Maximum.md
Labels: gssoc-ext, level1

#1768 Added Bron-Kerbosch algorithm to BackTracking algos
  docs/algorithms/backtracking-algorithms/Bron-Kerbosch-Algorithm.md
Labels: gssoc-ext, level1

#1776 ✅ [Feature]: Binary Search in a Rotated Sorted Array
  docs/binary-search/binary-search_rotated-sorted-array.md
Labels: gssoc-ext, level1

#1786 Add Having Clause in SQL
  docs/languages/SQL/sql-20.md
Labels: gssoc-ext, level1

#1802 update contains duplicate file
  docs/DSA-Problem-Solution/Contains_duplicate.md
Labels: gssoc-ext, level1

#1792 Notes for Date and Time in JavaScript was added
  docs/languages/javascript/js-16.md
Labels: gssoc-ext, level1

#1796 Added algorithm to check bipartite graph
  docs/graphs/bipartite-graph.md
Labels: gssoc-ext, level1

#1797 Added docs for exception handling in JavaScript
  docs/languages/javascript/js-17.md
Labels: gssoc-ext, level1

#1800 Updated Reverse_linked_list.md according to review
  java/Reverse_linked_list.md
Labels: gssoc-ext, level1

#1777 Reverse linked list in java (updated code and documentation)
  java/Reverse_linked_list.md
Labels: gssoc-ext, level1

#1734 INCLUDES SORTING VISUALIZING OF ALL SORTING ALGORITHMS
  src/components/Visualizing/index.tsx
  src/css/visualiezer.css
Labels: gssoc-ext, level3

#1744 Added the algorithm for Balanced parentheses checker
  docs/Stack/Balanced-parentheses-checker.md
Labels: gssoc-ext, level1

#1752 added regression algorithm
  docs/machine-learning/regression_algorithm.md
Labels: gssoc-ext, level1

#1718 Added a problem on Merge K Sorted Arrays
  docs/DSA-Problem-Solution/Merge_K_Sorted_Arrays.md
  docs/DSA-Problem-Solution/Sliding Window Maximum.md
Labels: gssoc-ext, level1

#1759 Climbing Stairs to Top DSA interview questions
  src/data/problemData.ts
Labels: gssoc-ext, level1

#1765 Added Depth First Traversal
  docs/Depth_first_traversal.md
Labels: gssoc-ext, level1

#1767 Adding implementation of reversing a linked list in java
  java/Reverse_linked_list.md
Labels: gssoc-ext, level1

#1645 Added Fenwick Tree (Binary Indexed Tree) Algorithm.
  README.md
  docs/Fenwick Tree /FenwickTree.md
Labels: gssoc-ext, level1

#1754 added documentation for recursion-depth
  docs/Recursion-depths/Recursion.md
  docs/Recursion-depths/advanced-topics.md
  docs/Recursion-depths/basic-concepts.md
  docs/Recursion-depths/handling-depth-errors.md
  docs/Recursion-depths/performance-consideration.md
Labels: gssoc-ext, level2

#1801 added #1764
  docs/linked-list/Intersection_Linked_list_python.md
Labels: gssoc-ext, level1

#1806 Added Reversing_String under Recursion
  docs/Recursion/Reversing_String.md
Labels: gssoc-ext, level1

#1807 Add SQL select Top
  docs/languages/SQL/sql-22.md
Labels: gssoc-ext, level1

#1808 Add SQL GROUP BY Statement
  docs/languages/SQL/sql-21.md
Labels: gssoc-ext, level1

#1809 Add Sql Alias
  docs/languages/SQL/sql-23.md
Labels: gssoc-ext, level1

#1811 Add Sql logical Operators
  docs/languages/SQL/sql-24.md
Labels: gssoc-ext, level1

#1816 Added Polymorphism in Object Oriented Programming
  docs/Object Oriented Programming/Polymorphism.md
Labels: gssoc-ext, level1

#1823 added merge two sorted list #1805
  docs/linked-list/merge-two-sorted-list.md
  docs/linked-list/remove-duplicates-from-sorted-list.md
Labels: gssoc-ext, level1

#1824 MAKE BUTTON CLICKALBLE
  src/components/Homepage/GetInvolvedSection.tsx
Labels: gssoc-ext, level1

#1812 Added sidelabels for the programming-fundamentals
  docs/programming-fundamentals/Arrays.md
  docs/programming-fundamentals/Conditionals.md
  docs/programming-fundamentals/Data_Structures.md
  docs/programming-fundamentals/Loops.md
  docs/programming-fundamentals/Variables.md
  docs/programming-fundamentals/functions.md
Labels: gssoc-ext, level1

#1839 Added Edmonds-Karp Algorithm
  docs/algorithms/ Edmonds-Karp Algorithm/ edmonds-karp-algorithm.md
Labels: gssoc-ext, level1

#1828 Create java-10.md
  docs/languages/java/java-10.md
Labels: gssoc-ext, level1

#1834 Adding rotate list to practice skills section
  src/pages/practice/index.tsx
Labels: gssoc-ext, level1

#1840 [ Algorithm add ]: Added Interpolation algorithm doc. in search ( algorithm ) folder
  docs/algorithms/Searching Algorithms/Interpolation-search-algorithm.md
Labels: gssoc-ext, level1

#1572 Create a-very-useful-data-structure-linked-lists.md
  README.md
  blog/a-very-useful-data-structure-linked-lists.md
  blog/authors.yml
Labels: gssoc-ext, level1

#1778 Kth largest using Min Heap
  docs/heap/Kth-largest-using-min_heap.md
Labels: gssoc-ext, level1

#1844 Create Trapping Rain Water Problem.md
  docs/Stack/Trapping Rain Water Problem.md
Labels: gssoc-ext, level1

#1875 Added the algorithm to find Longest path in DAG.
  docs/graphs/Longest-path-in-DAG.md
Labels: gssoc-ext, level1

#1846 Added algorithm for Adjacency Matrix
  docs/graphs/Adjacency-Matrix.md
Labels: gssoc-ext, level1

#1874 Range Sum of Linked List
  docs/linked-list/range-sum-of-linked-list.md
Labels: gssoc-ext, level1

#1865 Added Rabin-Karp algorithm in search folder
  docs/algorithms/Searching Algorithms/Rabin-Karp-Algorithm.md
Labels: gssoc-ext, level1

#1862 Update Graph-Coloring.md
  docs/greedy-algorithms/Graph-Coloring.md
Labels: gssoc-ext, level1

#1880 udate the file
  docs/DSA-Problem-Solution/Contains_duplicate.md
Labels: gssoc-ext

#1890 Create Convert Date to Binary.md
  docs/DSA-Problem-Solution/Convert Date to Binary.md
Labels: gssoc-ext, level1

#1866 Added Hamming Distance to top DSA questions
  src/data/problemData.ts
Labels: gssoc-ext, level1

#1882 Added trapped-rainwater.md
  docs/dynamic-programming/trapped-rainwater.md
Labels: gssoc-ext, level1

#1881 Added Application of Linked List
  docs/algorithms/Application-of-linked-list.md
Labels: gssoc-ext, level1

#1883 Added java codes to Sliding window folder
  docs/Sliding-Window/character-replacement.md
  docs/Sliding-Window/introduction-to-sliding-window.md
  docs/Sliding-Window/longest-repeating-character-replacement.md
  docs/Sliding-Window/longest-substring-with-K-different-characters.md
  docs/Sliding-Window/maximum-sum-subarray-size-K.md
  docs/Sliding-Window/minimize-maximum-of-two-arrays.md
Labels: gssoc-ext, level1

#1841 Added Circular array documentation
  docs/Circular_array/Application.md
  docs/Circular_array/Introduction.md
Labels: gssoc-ext, level1

#1870 Add Size_of_largest_BST_in_binary_tree.md
  docs/DSA-Problem-Solution/Size_of_largest_BST_in_binary_tree.md
Labels: gssoc-ext, level1

#1864 handling json data in sql
  README.md
  docs/languages/SQL/sql-25.md
Labels: gssoc-ext, level1

#1895 Added Application of Recursion
  docs/algorithms/Application-of-Recursion.md
Labels: gssoc-ext, level1

#1906 Add B-tree Practice Problems
  docs/b-tree/B-tree Practice Problems.md
Labels: gssoc-ext, level1

#1896 Added the algorithm for Randomized Quick Sort.
  docs/Randomized Algorithm/Randomized-Quicksort.md
Labels: gssoc-ext, level1

#1897 [ feature ]: Added Tilling problem ( domino tiling ) in backtracking algorithm folder
  docs/backtracking algorithms/Tiling-problem.md
Labels: gssoc-ext, level1

#1810 Added euclidean_Algorithm for NumberTheory
  docs/Number theory/Euclidean_ALgorithm.md
Labels: gssoc-ext, level1

#1904 This PR adds a feature to find the median of a stream of numbers using a two-heap approach.
  docs/heap/Add-Merge-k-sorted-lists.md
  docs/heap/Median-of-a-stream.md
Labels: gssoc-ext, level1

#1905 Added Legendre's Algorithm
  docs/algorithms/Legendre's Algorithm/legendre-algo.md
Labels: gssoc-ext, level1

#1900 created max-twin-sum-in-list #1837
  docs/linked-list/max-twin-sum-of-linked-list.md
  docs/linked-list/next-greater-node-in-linked-list.md
  docs/linked-list/swapping-node-in-a-linked-list-at-kth-node.md
Labels: gssoc-ext, level2

#1867 Added Evaluate Reverse Polish Notation to top DSA questions
  src/data/problemData.ts
Labels: gssoc-ext, level1

#1930 Moved all docs of same category ( algorithm/ data structure ) in unique folder of there respective category
  docs/algorithms/backtracking-algorithms/N-QueensProblem.md
  docs/algorithms/backtracking-algorithms/n-queens_algorithm.md
  docs/algorithms/string-algorithms/Boyer-moore-algorithm.md
  docs/algorithms/string-algorithms/Naive-search.md
  docs/algorithms/string-algorithms/Suffix-Tree-Algorithm.md
  docs/algorithms/string-algorithms/Z-Algorithm.md
  docs/algorithms/string-algorithms/aho-corasick-algorithm.md
  docs/algorithms/string-algorithms/kmp-algorithms.md
  docs/algorithms/string-algorithms/rabin-karp-algorithms.md
Labels: gssoc-ext, level1

#1929 Add SQL Stored Procedures
  docs/languages/SQL/sql-29.md
Labels: gssoc-ext, level1

#1928 Add SQL EXISTS Operator
  docs/languages/SQL/sql-28.md
Labels: gssoc-ext, level1

#1927 Add SQL NULL Functions
  docs/languages/SQL/sql-27.md
Labels: gssoc-ext, level1

#1921 Added "Practice Code" Button to DSA Question Card
  src/data/problemData.ts
  src/pages/dsa-interview/index.tsx
Labels: gssoc-ext, level1

#1916 Added about postman challenge in README.md
  README.md
  postman.png
Labels: gssoc-ext, level1

#1918 Principal component analysis
  docs/machine-learning/principal-component-analysis.md
Labels: gssoc-ext, level1

#1915 Alien Dictionary (Topological Sort)
  src/data/problemData.ts
Labels: gssoc-ext, level1

#1938 Add file for DFS (Depth first search) in Java.
  java/Depth_first_search.md
Labels: gssoc-ext, level1

#1936 Added CatBoost in machine Learning
  docs/machine-learning/Catboost.md
Labels: gssoc-ext, level1

#1939 Linked List Representation of Polynomials
  docs/linked-list/polynomial-representation.md
Labels: gssoc-ext, level1

#1952 Added power-of-two in bit manipulation
  docs/bit-manipulation/power-of-two.md
Labels: gssoc-ext, level1

#1942 Added Silhoutte in machine Learning
  docs/machine-learning/Silhoutte.md
Labels: gssoc-ext, level1

#1954 Automated Contributors List with Scroller Added to README 📜✨
  README.md
Labels: gssoc-ext, level1

#1959 added lasso regression algorithm
  docs/machine-learning/lasso_regression.md
Labels: gssoc-ext, level1

#1960 Added top k frequent elements in heaps
  docs/heap/top-k-frequent-elements.md
Labels: gssoc-ext, level1

#1898 Added the algorithm for Adjacency List
  docs/graphs/Adjacency-List.md
Labels: gssoc-ext, level1

#1931 Add Additional Topics Under String Section✨
  docs/Strings/String Basics.md
  docs/Strings/String Operation.md
Labels: gssoc-ext, level1

#1601 Polynomial Multiplication Using Linked Lists
  docs/linked-list/Polynomial_multiplication.md
Labels: gssoc-ext, level1

#1932 Enhance Number Theory Section with Additional Topics ✨
  docs/Number theory/Divisibility and Prime Numbers.md
  docs/Number theory/Modular Arithmetic.md
Labels: gssoc-ext, level1

#1944 [Idea]: Buchberger's Algorithm #1514
  docs/algorithms/Buchberger's Algorithm/Buchberger's Algorithm.md
Labels: gssoc-ext, level1

#1945 [Idea]: SMAWK Algorithm implementation #1515
  docs/algorithms/SMAWK Algorithm/SMAWK Algorithm.md
Labels: gssoc-ext, level1

#1933 Create dijkstra-algo.md
  docs/graphs/dijkstra-algo.md
Labels: gssoc-ext, level1

#1946 [Idea]: DLX implementation #1516
  docs/algorithms/DLX algorithm/DLX.md
Labels: gssoc-ext, level1

#1947 Added Prims and Kruskal's Algo
  docs/greedy-algorithms/kruskals-algorithm.md
  docs/greedy-algorithms/prims-algorithm.md
  docs/sortings/shell-sort .md
Labels: gssoc-ext, level3

#1977 Add SQL CREATE TABLE Statement
  docs/languages/SQL/sql-32.md
Labels: gssoc-ext, level1

#1976 Add SQL DROP DATABASE Statement
  docs/languages/SQL/sql-31.md
Labels: gssoc-ext, level1

#1975 Add SQL CREATE DATABASE Statement
  docs/languages/SQL/sql-30.md
Labels: gssoc-ext, level1

#1974 Added Rabin-Karp Algorithm for pattern searching.
  docs/Rabin-Karp Algorithm/Rabin-Karp.md
Labels: gssoc-ext, level1

#1978 Add SQL Views
  docs/languages/SQL/sql-33.md
Labels: gssoc-ext, level1
